<!DOCTYPE html>
    <body>
        <h1>
            안녕하세요
        </h1>
        id : <input type="text" id="userId"> <br>
        password : <input type="text" id="userPassword">
        <button type="button" id="signupBtn">회원가입</button>
    </body>
    <script
    src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous">
    </script>

    <script>
        console.log("page is loaded");
        $("#signupBtn").click(function(){
            console.log("btn is clicked"); 
            console.log($("#userId").val());                
        });
    </script>


</html>